/*************/
/* CSS Reset */
/*************/
*,
*::before,
*::after {
    box-sizing: border-box;
}

* {
    margin: 0;
}

html,
body {
    height: 100%;
    overflow: hidden;
}

body {
    line-height: 1.5;
}

img,
picture,
video,
canvas,
svg {
    display: block;
    max-width: 100%;
}

ul,
li {
    margin: 0;
    padding: 0;
    text-indent: 0;
    list-style-type: none;
}

/*********************/
/* Custom properties */
/*********************/
:root {
    --color-sky: #BAE4FA;
    --color-ground: #9DC250;
    --color-mountain: #839FC6;
    --color-mountain-shadow: #6E839E;
    --color-mountain-snow: #ffffff;
    --color-detonator: #ff0000;
    --color-handle: #808080;

    /* Green: #1D7B31 */
    /* Darkgreem: #155C24 */
    /* Lighter green: #80B11A */
    /* Darker blue: #7BC8F6 */
    /* Also blue: #92D4F7 */

    --height-ground: 17%;
}

@media (prefers-color-scheme: dark) {
    :root {
        --color-sky: #0c3545;
        --color-ground: #4c5e2b;
        --color-mountain: #5b6b81;
        --color-mountain-shadow: #465364;
        --color-mountain-snow: #a6a6a6;
        --color-detonator: #9d0000;
        --color-handle: #6f6f6f;
        --color-firework1: hotpink;
    }

    body>p:first-of-type {
        display: none;
    }
}


/********************/
/* Algemene styling */
/********************/
body {
    background: var(--color-sky);
    color-scheme: dark light;
}

p {
    font-family: 'Poppins', sans-serif;
    font-size: 1rem;
}


body>p:first-of-type {
    margin: 3rem;
}


/************************/
/* Grond met detonators */
/************************/
section:nth-of-type(2) {
    background-color: var(--color-ground);
    height: var(--height-ground);
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
}

label {
    background-color: var(--color-detonator);
    height: 3rem;
    width: 4rem;
    position: fixed;
    bottom: 3%;
}


label:first-of-type {
    left: 7%;
}

label:nth-of-type(2) {
    left: 40%;
}

label::before {
    content: "";
    background-color: var(--color-handle);
    width: .4rem;
    height: 2rem;
    position: absolute;
    left: calc(50% - .25rem);
    bottom: 3rem;
}

label::after {
    content: "";
    background-color: var(--color-handle);
    width: 4rem;
    height: .6rem;
    position: absolute;
    left: calc(50% - 2rem);
    bottom: 5rem;
}

label:first-of-type:hover::after {
    bottom: 5.8rem;
}

label:first-of-type:hover::before {
    height: 2rem;
}

label>input {
    appearance: none;
}

body:has(label:first-of-type > input:checked) label:first-of-type::before {
    height: 1rem;
}

body:has(label:first-of-type > input:checked) label:first-of-type::after {
    bottom: 4.5rem;
}

body:has(label:first-of-type > input:checked) section:first-of-type>p {
    animation: shootFirework 7s linear 1s infinite normal;;
}



label:nth-of-type(2):hover::after {
    bottom: 5.8rem;
}

label:nth-of-type(2):hover::before {
    height: 2rem;
}

body:has(label:nth-of-type(2) > input:checked) label:nth-of-type(2)::before {
    height: 1rem;
}

body:has(label:nth-of-type(2) > input:checked) label:nth-of-type(2)::after {
    bottom: 4.5rem;
}

body:has(label:nth-of-type(2) > input:checked) section:first-of-type>div:first-of-type {
    animation: firework 3s 3;
}


/**********/
/* Bergen */
/**********/
/* :nth-last-child(-n+3) selecteerd laatste 3 divs --> bergen */
section:nth-of-type(2)>div:nth-last-child(-n+3) {
    border-left: 5rem rgba(0, 0, 0, 0) solid;
    border-right: 5rem rgba(0, 0, 0, 0) solid;
    border-bottom: 8rem var(--color-mountain) solid;
    position: fixed;
    bottom: var(--height-ground);
}

/* Schaduw */
section:nth-of-type(2)>:nth-last-child(-n+3)::before {
    content: '';
    position: absolute;
    left: 0px;
    border-right: 5rem rgba(0, 0, 0, 0) solid;
    border-bottom: 8rem var(--color-mountain-shadow) solid;
}

/* Sneeuw */
section:nth-of-type(2)>div:nth-last-child(-n+3)::after {
    content: '';
    position: absolute;
    left: -2rem;
    border-left: 2rem rgba(0, 0, 0, 0) solid;
    border-right: 2rem rgba(0, 0, 0, 0) solid;
    border-bottom: 3.2rem var(--color-mountain-snow) solid;
}

/* Positie bergen */
section:nth-of-type(2)>div:nth-last-child(1) {
    left: -10%;
}

section:nth-of-type(2)>div:nth-last-child(2) {
    left: 40%;
}

section:nth-of-type(2)>div:nth-last-child(3) {
    left: 70%;
}



/*********************/
/* Vuurwerk met emoji*/
/*********************/
section:first-of-type>p {
    font-size: 3rem;
    z-index: 0;
    position: absolute;
    bottom: var(--height-ground);
    left: 3rem;
    /* animation: shootFirework 7s linear 1s infinite normal; */
    transition: 5s;
}

@keyframes shootFirework {
    0% {
        left: 3rem;
        bottom: var(--height-ground);
        opacity: 1;
    }

    30% {
        left: 3rem;
        bottom: 80%;
        opacity: 1;
    }

    55% {
        left: 3rem;
        bottom: 80%;
        opacity: 0;
    }

    100% {
        left: 3rem;
        bottom: 80%;
        opacity: 0;
    }
}

/************************/
/* Exploderend vuurwerk */
/************************/
section:first-of-type>div:first-of-type {
    position: absolute;
    bottom: 10%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 0.5rem;
    aspect-ratio: 1;
    background: radial-gradient(circle, var(--color-firework1) 0.2vh, #0000 0) 50% 00%,
        radial-gradient(circle, var(--color-firework1) 0.3vh, #0000 0) 00% 50%,
        radial-gradient(circle, var(--color-firework1) 0.5vh, #0000 0) 50% 99%,
        radial-gradient(circle, var(--color-firework1) 0.2vh, #0000 0) 99% 50%,
        radial-gradient(circle, var(--color-firework1) 0.3vh, #0000 0) 80% 90%,
        radial-gradient(circle, var(--color-firework1) 0.5vh, #0000 0) 95% 90%,
        radial-gradient(circle, var(--color-firework1) 0.5vh, #0000 0) 10% 60%,
        radial-gradient(circle, var(--color-firework1) 0.2vh, #0000 0) 31% 80%,
        radial-gradient(circle, var(--color-firework1) 0.3vh, #0000 0) 80% 10%,
        radial-gradient(circle, var(--color-firework1) 0.2vh, #0000 0) 90% 23%,
        radial-gradient(circle, var(--color-firework1) 0.3vh, #0000 0) 45% 20%,
        radial-gradient(circle, var(--color-firework1) 0.5vh, #0000 0) 13% 24%;
    /* radial-gradient(vorm, kleur, grootte van de circkle vanuit middelpunt, transparante kleur aan rand circkle) positie horizontaal verticaal */
    background-size: 0.5rem 0.5rem;
    background-repeat: no-repeat;
}

@keyframes firework {
    0% {
        bottom: var(--height-ground);
        width: 0.5rem;
        opacity: 1;
    }

    40% {
        bottom: 60%;
        width: 0.5rem;
        opacity: 1;
    }

    100% {
        bottom: 60%;
        width: 10rem;
        opacity: 0;
    }
}

/* Followed tutoral: https://alvaromontoro.com/blog/68002/creating-a-firework-effect-with-css */



/************************/
/* Motion Path vuurwerk */
/************************/
section:first-of-type>div>div{
    offset-path: path("m48.35,649.82c.44-35.34.52-90.39-2-158.21-3.91-105.15-10.48-143.6,17-170.49,23.3-22.81,66.15-32.47,95.5-14,35.39,22.27,43.31,80.52,17,116.24-28.6,38.84-86.21,35.49-119.99,17C4.19,412.09-8.59,340.71,8.85,295.37c16.64-43.25,53.35-43.59,78-80.75C109.89,179.89,118.84,118.31,63.35.64");
    animation: move 3s infinite;
    position: absolute;
    bottom: 90vh;
    left: 50%;

    background-color: salmon;
    height: .5rem;
    width: .5rem;
    border-radius: 50%;
}



@keyframes move {
    80%{
        opacity: 1;
    }
    100% {
        offset-distance: 100%;
        height: 3rem;
        width: 3rem;
        opacity: 0;
    }
}