/*************/
/* CSS Reset */
/*************/
*,
*::before,
*::after {
    box-sizing: border-box;
}

* {
    margin: 0;
}

html,
body {
    height: 100%;
    overflow: hidden;
}

body {
    line-height: 1.5;
}

img,
picture,
video,
canvas,
svg {
    display: block;
    max-width: 100%;
}

ul,
li {
    margin: 0;
    padding: 0;
    text-indent: 0;
    list-style-type: none;
}

/*********************/
/* Custom properties */
/*********************/
:root {
    --color-sky: #BAE4FA;
    --color-ground: #9DC250;
    --color-mountain: #839FC6;
    --color-mountain-shadow: #6E839E;
    --color-mountain-snow: #ffffff;
    --color-detonator: #ff0000;
    --color-handle: #808080;

    /* Green: #1D7B31 */
    /* Darkgreem: #155C24 */
    /* Lighter green: #80B11A */
    /* Darker blue: #7BC8F6 */
    /* Also blue: #92D4F7 */

    --height-ground: 17%;
}

@media (prefers-color-scheme: dark) {
    :root {
        --color-sky: #0c3545;
        --color-ground: #4c5e2b;
        --color-mountain: #5b6b81;
        --color-mountain-shadow: #465364;
        --color-mountain-snow: #a6a6a6;
        --color-detonator: #9d0000;
        --color-handle: #6f6f6f;
        --color-firework1: hotpink;
    }

    body:has(label > input:checked) section:first-of-type>div:first-of-type {
        animation: firework 3s 3;
    }

    body>p:first-of-type {
        display: none;
    }
}


/********************/
/* Algemene styling */
/********************/
body {
    background: var(--color-sky);
    color-scheme: dark light;
}

p {
    font-family: 'Poppins', sans-serif;
    font-size: 1rem;
}


body>p:first-of-type {
    margin: 3rem;
}


/************************/
/* Grond met ontstekers */
/************************/
section:nth-of-type(2) {
    background-color: var(--color-ground);
    height: var(--height-ground);
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
}

/* section:nth-of-type(2)>button {
    position: fixed;
    bottom: 3%;
    left: 7%;
    height: 7.5rem;
    width: 6rem;
    background-color: transparent;
    border: none;
}

section:nth-of-type(2)>button:hover>div::after{
    bottom: 5.8rem;
}

section:nth-of-type(2)>button:hover>div::before{
    height: 2rem;
}

section:nth-of-type(2)>button:active>div::after{
    bottom: 4.5rem;
}

section:nth-of-type(2)>button:active>div::before{
    height: 1rem;
}

section:nth-of-type(2)>button>div {
    background-color: var(--color-detonator);
    height: 4rem;
    width: 5rem;
    bottom: 0;
    position: absolute;
}

section:nth-of-type(2)>button>div::after {
    content: "";
    background-color: var(--color-handle);
    width: 4rem;
    height: .75rem;
    position: absolute;
    left: calc(50% - 2rem);
    bottom: 6rem;
}

section:nth-of-type(2)>button>div::before {
    content: "";
    background-color: var(--color-handle);
    width: .5rem;
    height: 2.5rem;
    position: absolute;
    left: calc(50% - .25rem);
    bottom: 4rem;
} */

label {
    background-color: var(--color-detonator);
    height: 4rem;
    width: 5rem;
    position: fixed;
    bottom: 3%;
    left: 7%;
}

label::before {
    content: "";
    background-color: var(--color-handle);
    width: .5rem;
    height: 2.5rem;
    position: absolute;
    left: calc(50% - .25rem);
    bottom: 4rem;
}

label::after {
    content: "";
    background-color: var(--color-handle);
    width: 4rem;
    height: .75rem;
    position: absolute;
    left: calc(50% - 2rem);
    bottom: 6rem;
}

label:hover::after{
    bottom: 5.8rem;
}

label:hover::before{
    height: 2rem;
}

label>input {
    appearance: none;
}

body:has(label > input:checked) label::before{
    height: 1rem;
}

body:has(label > input:checked) label::after{
    bottom: 4.5rem;
}

body:has(label > input:checked) section:first-of-type>div:first-of-type {
    animation: firework 3s 3;
}

/**********/
/* Bergen */
/**********/
/* :nth-last-child(-n+3) selecteerd laatste 3 divs --> bergen */
section:first-of-type>div:nth-last-child(-n+3) {
    border-left: 5rem rgba(0, 0, 0, 0) solid;
    border-right: 5rem rgba(0, 0, 0, 0) solid;
    border-bottom: 8rem var(--color-mountain) solid;
    position: fixed;
    bottom: var(--height-ground);
}

/* Schaduw */
section:first-of-type>:nth-last-child(-n+3)::before {
    content: '';
    position: absolute;
    left: 0px;
    border-right: 110px rgba(0, 0, 0, 0) solid;
    border-bottom: 170px var(--color-mountain-shadow) solid;
}

/* Sneeuw */
section:first-of-type>div:nth-last-child(-n+3)::after {
    content: '';
    position: absolute;
    left: -39px;
    border-left: 39px rgba(0, 0, 0, 0) solid;
    border-right: 39px rgba(0, 0, 0, 0) solid;
    border-bottom: 60px var(--color-mountain-snow) solid;
}

/* Positie bergen */
section:first-of-type>div:nth-last-child(1) {
    left: -10%;
}

section:first-of-type>div:nth-last-child(2) {
    left: 40%;
}

section:first-of-type>div:nth-last-child(3) {
    left: 70%;
}



/*********************/
/* Vuurwerk met emoji*/
/*********************/
section:first-of-type>p {
    font-size: 3rem;
    z-index: 0;
    position: absolute;
    bottom: var(--height-ground);
    left: 3rem;
    animation: shootFirework 7s linear 1s infinite normal;
    transition: 5s;
}

@keyframes shootFirework {
    0% {
        left: 3rem;
        bottom: var(--height-ground);
        opacity: 1;
    }

    30% {
        left: 3rem;
        bottom: 80%;
        opacity: 1;
    }

    55% {
        left: 3rem;
        bottom: 80%;
        opacity: 0;
    }

    100% {
        left: 3rem;
        bottom: 80%;
        opacity: 0;
    }
}

/************************/
/* Exploderend vuurwerk */
/************************/
section:first-of-type>div:first-of-type {
    position: absolute;
    bottom: 10%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 0.5rem;
    aspect-ratio: 1;
    background: radial-gradient(circle, var(--color-firework1) 0.2vh, #0000 0) 50% 00%,
        radial-gradient(circle, var(--color-firework1) 0.3vh, #0000 0) 00% 50%,
        radial-gradient(circle, var(--color-firework1) 0.5vh, #0000 0) 50% 99%,
        radial-gradient(circle, var(--color-firework1) 0.2vh, #0000 0) 99% 50%,
        radial-gradient(circle, var(--color-firework1) 0.3vh, #0000 0) 80% 90%,
        radial-gradient(circle, var(--color-firework1) 0.5vh, #0000 0) 95% 90%,
        radial-gradient(circle, var(--color-firework1) 0.5vh, #0000 0) 10% 60%,
        radial-gradient(circle, var(--color-firework1) 0.2vh, #0000 0) 31% 80%,
        radial-gradient(circle, var(--color-firework1) 0.3vh, #0000 0) 80% 10%,
        radial-gradient(circle, var(--color-firework1) 0.2vh, #0000 0) 90% 23%,
        radial-gradient(circle, var(--color-firework1) 0.3vh, #0000 0) 45% 20%,
        radial-gradient(circle, var(--color-firework1) 0.5vh, #0000 0) 13% 24%;
    /* radial-gradient(vorm, kleur, grootte van de circkle vanuit middelpunt, transparante kleur aan rand circkle) positie horizontaal verticaal */
    background-size: 0.5rem 0.5rem;
    background-repeat: no-repeat;
}

@keyframes firework {
    0% {
        bottom: var(--height-ground);
        width: 0.5rem;
        opacity: 1;
    }

    40% {
        bottom: 60%;
        width: 0.5rem;
        opacity: 1;
    }

    100% {
        bottom: 60%;
        width: 10rem;
        opacity: 0;
    }
}

/* Followed tutoral: https://alvaromontoro.com/blog/68002/creating-a-firework-effect-with-css */