/*************/
/* CSS Reset */
/*************/
*,
*::before,
*::after {
    box-sizing: border-box;
}

* {
    margin: 0;
}

html,
body {
    height: 100%;
}

body {
    line-height: 1.5;
}

img,
picture,
video,
canvas,
svg {
    display: block;
    max-width: 100%;
}

ul,
li {
    margin: 0;
    padding: 0;
    text-indent: 0;
    list-style-type: none;
}

/*********************/
/* Custom properties */
/*********************/
:root{
    --color-sky: #b4ddf0;
    --color-ground: #b9de75;
    --color-mountain: #7ac1e4;
}

@media (prefers-color-scheme: dark) {
    :root{
        --color-sky: #041A40;
        --color-ground: #4c5e2b;
        --color-mountain: #285165;
        --color-firework1: hotpink;
    }



    section:first-of-type>div:first-of-type {
        animation: firework 3s infinite;
    }

    body>p:first-of-type{
        display: none;
    }
  }


/********************/
/* Algemene styling */
/********************/
body {
    background: var(--color-sky);
    color-scheme: dark light;
}

p{
    font-family: 'Poppins', sans-serif;
}


body>p:first-of-type{
    margin: 3rem;
}


/************************/
/* Grond met ontstekers */
/************************/
section:nth-of-type(2) {
    background-color: var(--color-ground);
    height: 20%;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
}

/**********/
/* Bergen */
/**********/
div:not(:first-of-type) {
    position: fixed;
    bottom: 20%;
    border-left: 9rem solid transparent;
    border-right: 9rem solid transparent;
    border-bottom: 13rem solid var(--color-mountain);
    z-index: 1;
}

div:nth-of-type(2) {
    left: -10rem;
    bottom: 20%;
    opacity: .3;
    z-index: -1;
}

div:nth-of-type(3) {
    left: 13rem;
    bottom: 20%;
    opacity: .3;
    z-index: -1;
}

/******************************/
/* Shooting firework emoji up */
/******************************/
section:first-of-type>p {
    font-size: 3rem;
    z-index: 0;
    position: absolute;
    bottom: 20%;
    left: 3rem;
    animation: shootFirework 7s linear 1s infinite normal;
    transition: 5s;
}

@keyframes shootFirework {
    0% {
        left: 3rem;
        bottom: 20%;
        opacity: 1;
    }

    30% {
        left: 3rem;
        bottom: 80%;
        opacity: 1;
    }

    55% {
        left: 3rem;
        bottom: 80%;
        opacity: 0;
    }

    100% {
        left: 3rem;
        bottom: 80%;
        opacity: 0;
    }
}

/**********************/
/* Exploding firework */
/**********************/
section:first-of-type>div:first-of-type {
    position: absolute;
    bottom: 10%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 0.5rem;
    aspect-ratio: 1;
    background: radial-gradient(circle, var(--color-firework1) 0.2vh, #0000 0) 50% 00%,
        radial-gradient(circle, var(--color-firework1) 0.3vh, #0000 0) 00% 50%,
        radial-gradient(circle, var(--color-firework1) 0.5vh, #0000 0) 50% 99%,
        radial-gradient(circle, var(--color-firework1) 0.2vh, #0000 0) 99% 50%,
        radial-gradient(circle, var(--color-firework1) 0.3vh, #0000 0) 80% 90%,
        radial-gradient(circle, var(--color-firework1) 0.5vh, #0000 0) 95% 90%,
        radial-gradient(circle, var(--color-firework1) 0.5vh, #0000 0) 10% 60%,
        radial-gradient(circle, var(--color-firework1) 0.2vh, #0000 0) 31% 80%,
        radial-gradient(circle, var(--color-firework1) 0.3vh, #0000 0) 80% 10%,
        radial-gradient(circle, var(--color-firework1) 0.2vh, #0000 0) 90% 23%,
        radial-gradient(circle, var(--color-firework1) 0.3vh, #0000 0) 45% 20%,
        radial-gradient(circle, var(--color-firework1) 0.5vh, #0000 0) 13% 24%;
        /* radial-gradient(vorm, kleur, grootte van de circkle vanuit middelpunt, transparante kleur aan rand circkle) positie horizontaal verticaal */
    background-size: 0.5rem 0.5rem;
    background-repeat: no-repeat;
}

@keyframes firework {
    0% {
        bottom: 10%;
        width: 0.5rem;
        opacity: 1;
    }

    40% {
        bottom: 60%;
        width: 0.5rem;
        opacity: 1;
    }

    100% {
        bottom: 60%;
        width: 10rem;
        opacity: 0;
    }
}

/* Followed tutoral: https://alvaromontoro.com/blog/68002/creating-a-firework-effect-with-css */
